## Maintainers ownership
/** @papayaglobal/operations
## Defaults
# @papayaglobal/devops owns:
/.github/cicd-doc.md @papayaglobal/devops
/.github/dependabot.yaml @papayaglobal/devops
/.github/workflows/deploy.yaml @papayaglobal/devops
/.github/workflows/jira-validation.yaml @papayaglobal/devops
/.github/workflows/manual-deploy.yaml @papayaglobal/devops
/.github/workflows/run-tests.yaml @papayaglobal/devops
/.github/workflows/sast.yaml @papayaglobal/devops
/.github/CODEOWNERS @papayaglobal/devops
